<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎首页显示</title>

    <script type="text/javascript" th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script>

        function send(){
            $.ajax({
                url:"/file/upload",
                type:'POST',
                data:{
                    file:$(".file")
                },
                success:function (data) {
                    console.log(data);
                }
            })
        }

    </script>



</head>
<body>
    <h1>欢迎首页！！！！！！</h1>

    <form action="" >
        文件上传: &nbsp;&nbsp;&nbsp; <input type="file" class="file">
        <br/>
        <input type="button" onclick="send()" value="提交">
    </form>
</body>
</html>